@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
body{
    max-width: 1280px;
    margin: auto;  
    padding-top: 30px;
}

header{
    display: flex;
    justify-content: space-between;
}

header ul{
    display: flex;
    list-style-type: none;
    
}

header ul li a{
    text-decoration: none;
    color: rgb(22, 22, 22);
    padding:30px 25px 0 25px;  
    font-size:0.9em ;  
}
header ul li a:hover{
    text-decoration: none;
    color:#0065FC;  
    border-top: #0065FC 1px solid ;   
}

#inscription a{
    text-decoration: none;
    color:#0065FC; 
    font-weight: 600; 
}

#recherche{
    margin-top: 40px;
}

h1{
    font-size:1.4em ;
    font-weight: 800;

}

#mapin{
    display: inline-block;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    height: 49px;
    width: 50px; 
    text-align:center;
    line-height: 50px;
}

#recherche input {
    width: 220px;
    border: #F2F2F2 1px solid;
    font-weight: 700;
    font-size: 1em;
    padding-left:15px ;
    height: 45px;
  }

#recherche button {
    background-color: #0065FC;
    height: 48px;
    width: 130px;
    font-weight: 600;
    font-size: 1.1em;
    color: white;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
 form{
     display: flex;
 }
h2{
    font-weight: 800;
    font-size: 1em;
}
h2 a{
    font-weight: 800;
    font-size: 1em;
    color: black;
    text-decoration: none;
}
h2 a:hover{
    color: #0065FC;
}

 #filtres{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     font-weight: 800;
     font-size: 1em;
     margin-top: 20px;
     max-width: 900px;
    
 }

 #filtres div .fas{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50px;
    height: 42px;
    width: 42px;
    line-height: 40px;
    text-align: center;
    z-index: 900;
    margin-right:-40px ;
    
}

 #filtres div span{
    display: inline-block;
    font-weight: 800;
    border: #F2F2F2 3px solid;
    border-radius: 50px;
    z-index: 1;
    padding-right: 20px;
    padding-left: 50px;
    height: 37px;
    line-height: 40px;
     
}
#filtres div{
    display: flex;
}
#filtres div span:hover{
    background-color: #0065FC;
    color: white;
    border: #0065FC 3px solid;
}

#recherche p i {
    width: 20px;
    height: 20px;
    border: #F2F2F2 1px solid;
    border-radius: 50px;
    font-size: 0.7em;
    margin-right:10px ;
    text-align: center;
    color: #0065FC;
    line-height: 20px;
  }

  #info{
      margin-top: 40px;
  }
.heberge{
    background-color: #F2F2F2;
    border-radius: 20px;
    max-width: 800px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
}

.heberge h1{
   margin-left: 10px;;
}

.heberge > h2 {
    margin-left: 10px;;
 }

  .petit_article {
    width: 230px;
    height: 200px;
    margin:0px 10px 0 10px;
    background-color: white;
    border-radius: 20px;
    border: white 5px solid;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .1)

}
  .petit_article img{
    width: 230px;
    height: 110px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius:18px ;
    border-top-right-radius:18px ;
    
  }
  .petit_article p{
    font-size: 0.9em;
    line-height: 0px;

  }
  .textarticle{
      margin-left: 10px;
  }
  .textarticle i{
    color: #0065FC;
    font-size: 0.8em;
}
  .quatresetoiles i:last-child {
    color: #f2f2f2;
}
.troisetoiles i:nth-child(4) {
    color: #f2f2f2;
}
.troisetoiles i:nth-child(5) {
    color: #f2f2f2;
}
.lignehebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
#hebergementetpopulaire{
max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.populaire{
    background-color: #F2F2F2;
    border-radius: 20px;
    min-width:330px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
   
    
}

.populaire > h1 {
    margin-left: 10px;;
 }

.petit_articlepopulaire{
    display: flex; 
    flex-direction: row; 
    width: 340px;
    height: 140px;
    margin:0px 10px 30px 10px;
    background-color: white;
    border-radius: 20px;
    border: white 5px solid;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .1)
    
}

.lignepopulaire{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
  
.petit_articlepopulaire img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    display: block;
    border-top-left-radius:18px ;
    border-bottom-left-radius:18px ;
    
  }
.petit_articlepopulaire p{
    font-size: 0.9em;
    line-height: 0px;

  }
.textarticlepopulaire i{
    color: #0065FC;
    font-size: 0.8em;
}
.textarticlepopulaire{
    margin-left: 20px;
    max-width: 150px;
}

#titrepopulaire{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}
#titrepopulaire i{
    line-height: 60px;
    font-size: 1.3em;
}
.textarticlepopulaire i{
    margin-top: 40px;

}