@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap");
strong {
  font-weight: 600;
}
#menumobile {
  display: none;
}
#champrecherchemobile {
  display: none;
}
* {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
html {
  width: 100%;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
}
body {
  padding-top: 30px;
}
header {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
#recherche {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
main {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
#menudesktop {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#menudesktop ul {
  display: flex;
  list-style-type: none;
}
#menudesktop ul li a {
  text-decoration: none;
  color: rgb(22, 22, 22);
  padding: 30px 25px 0 25px;
  font-size: 0.9em;
}
#menudesktop ul li a:hover {
  text-decoration: none;
  color: #0065fc;
  border-top: #0065fc 1px solid;
}
#menudesktop #inscription a {
  text-decoration: none;
  color: #0065fc;
  font-weight: 800;
}
#recherche {
  margin-top: 40px;
}
h1 {
  font-size: 1.3em;
  font-weight: 800;
}
#mapin {
  display: inline-block;
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}
#mapinmobile {
  display: inline-block;
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  height: 49px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}
#recherche input {
  width: 220px;
  border: #f2f2f2 1px solid;
  font-weight: 700;
  font-size: 1em;
  padding-left: 15px;
  height: 45px;
  cursor: pointer;
}
#recherche button {
  background-color: #0065fc;
  height: 48px;
  width: 130px;
  font-weight: 600;
  font-size: 1.1em;
  color: white;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
form {
  display: flex;
}
h2 {
  font-weight: 800;
  font-size: 1em;
}
h2 a {
  font-weight: 800;
  font-size: 1em;
  color: black;
  text-decoration: none;
}
h2 a:hover {
  color: #0065fc;
}
#filtres {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 800;
  font-size: 1em;
  margin-top: 20px;
  max-width: 70%;
  margin-bottom: 20px;
  cursor: pointer;
}
#filtres .fas {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 50px;
  height: 44px;
  width: 44px;
  line-height: 45px;
  text-align: center;
  z-index: 900;
  transform: translate(-10px, -2px);
}
#filtres span {
  z-index: 1;
  display: flex;
  font-weight: 600;
  border: #f2f2f2 3px solid;
  border-radius: 50px;
  height: 40px;
  line-height: 40px;
  padding-right: 15px;
  margin-right: 15px;
}
#filtres h2 {
  margin-right: 20px;
}
#filtres span:hover {
  background-color: #0065fc;
  color: white;
  border: #0065fc 3px solid;
}
#recherche #ligneinfo {
  display: flex;
}
#ligneinfo i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: #f2f2f2 1px solid;
  border-radius: 50px;
  font-size: 0.7em;
  margin-right: 10px;
  margin-top: 15px;
  text-align: center;
  color: #0065fc;
}

/* ------------------------------------------------- hebergement -------------------------------- */
.heberge {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 60%;
  padding: 40px;
  margin-top: 30px;
}
.heberge a {
 text-decoration: none;
 color: black;
}
.heberge h1 {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0;
}
.heberge h2 {
  width: 100%;
  line-height: 14px;
  margin: 0;
  padding: 0;
}
.petit_article h2 {
  width: 100%;
  margin-top: 10px;
  padding: 0;
}
.petit_article {
  width: 29%;
  height: 190px;
  margin-bottom: 4%;
  background-color: white;
  border-radius: 20px;
  border: white 5px solid;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.petit_article img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.petit_article p {
  line-height: 0px;
}
.textarticle {
  margin-left: 10px;
}
.textarticle i {
  color: #0065fc;
  font-size: 0.8em;
}
.quatresetoiles i:last-child {
  color: #f2f2f2;
}
.troisetoiles i:nth-child(4) {
  color: #f2f2f2;
}
.troisetoiles i:nth-child(5) {
  color: #f2f2f2;
}
#hebergementetpopulaire {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* ------------------------------------------------- populaire -------------------------------- */
.populaire {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 25%;
  padding: 40px;
  margin-top: 30px;
}
.populaire a {
  text-decoration: none;
  color: black;
}
#titrepopulaire {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#titrepopulaire i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 1.3em;
}
.petit_articlepopulaire {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
  border: white 5px solid;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.petit_articlepopulaire img {
  width: 130px;
  height: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.petit_articlepopulaire p {
  font-size: 0.9em;
  line-height: 0px;
}
.textarticlepopulaire {
  width: 50%;
  margin-left: 6%;
}
.textarticlepopulaire i {
  color: #0065fc;
  font-size: 0.8em;
  margin-top: 40px;
}
.populaire h1 {
  margin-bottom: 0px;
  margin-top: 0;
}
/* ------------------------------------------------- activite  -------------------------------- */
.activite {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.activite a {
 text-decoration: none;
 color: black;
}
.activite h1 {
  width: 100%;
}
.activite_un {
  width: 23%;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.activite_un img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activite_un h2 {
  margin-left: 15px;
  margin-top: 16px;
}
.activite_deux h2 {
  margin-left: 15px;
  margin-bottom: 16px;
}
.activite_deux {
  display: flex;
  width: 23%;
  flex-direction: column;
  justify-content: space-between;
}
.activite_deux > div {
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.activite_deux > div img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.petitacti {
  width: 100%;
}
.moyenacti {
  height: 225px;
}
.petitacti img {
  height: 140px;
  padding-bottom: 3px; /* images alignées pixel perfect */
}
.moyenacti img {
  height: 175px;
}
footer {
  background-color: #f2f2f2;
  width: 100%;
}
footer div {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
}
footer div ul {
  margin-right: 250px;
  padding-left: 0;
}
footer ul li:first-child {
  font-weight: 800;
  font-size: 1em;
  line-height: 40px;
}
footer ul li {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 26px;
  list-style: none;
  text-decoration: none;
}
footer ul li a {
  text-decoration: none;
  color: black;
}
footer ul li a:hover {
  text-decoration: underline;
}
/* ---------------------------------------------------- les petits trucs en plus  */
.petitacti:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}
.moyenacti:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}
.activite_un:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}
.petit_article:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}
.petit_articlepopulaire:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 480px) {
  /* --------  CSS POUR MOBILES  ---------------------*/
  body {
    margin: 0;
  }
  header {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #menudesktop {
    display: none;
  }
  #menumobile {
    display: initial;
  }
  #menumobile span {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    line-height: 50px;
  }
  #menumobile span a {
    color: #0065fc;
    text-decoration: none;
    font-size: 1em;
    font-weight: 800;
  }
  #menumobile span a:hover {
    text-decoration: underline;
  }
  #menumobile ul {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding: 0;
  }
  #menumobile ul li {
    text-align: center;
    width: 50%;
    padding-bottom: 20px;
    border-bottom: #f2f2f2 3px solid;

    margin-left: auto;
    margin-right: auto;
  }
  #menumobile ul li:hover {
    border-bottom: #0065fc 3px solid;
  }
  #menumobile ul li:active {
    border-bottom: #0065fc 3px solid;
  }
  #menumobile ul li a {
    text-decoration: none;
    color: black;
  }
  #menumobile ul li:hover a {
    color: #0065fc;
  }
  #menumobile ul li a:active {
    color: #0065fc;
  }
  #recherche {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
  }
  #recherche h1 {
    font-size: 1.4em;
  }
  #champrecherchedesktop {
    display: none;
  }
  #champrecherchemobile {
    display: initial;
  }
  #champrecherchemobile form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  #loupe {
    display: inline-block;
    background-color: #0065fc;
    border-radius: 15px;
    transform: translateX(-10px);
    color: white;
    border: none;
    height: 49px;
    width: 50px;
    text-align: center;
    line-height: 50px;
  }
  #filtres h2 {
    padding-right: 280px;
  }
  #filtres {
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  #filtres span {
    margin-bottom: 10px;
  }
  #ligneinfo i {
    margin-top: 0px;
    padding: 0;
  }
  #ligneinfo {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #ligneinfo p {
    margin-top: 0px;
  }
  /* ------------------------------------------------- populaire mobile -------------------------------------- */
  main {
    width: 100%;
  }
  .populaire {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    margin-top: 0;
    padding: 0;
    padding-top: 20px;
  }

  .petit_articlepopulaire {
    width: 86%;
    margin-bottom: 20px;
    height: 120px;
  }
  .petit_articlepopulaire img {
    width: 120px;
    height: 120px;
  }
  .textarticlepopulaire i {
    margin-top: 20px;
  }
  #titrepopulaire {
    width: 86%;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  /* ------------------------------------------------- hebergement mobile -------------------------------------- */

  .heberge {
    width: 100%;
    border-radius: 0px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .lignehebergement {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .heberge h1 {
    margin-left: 20px;
  }
  .heberge > h2 {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .petit_article {
    width: 86%;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    border: white 5px solid;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  }
  .petit_article img {
    height: 110px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
  /* ------------------------------------------------- activite mobile -------------------------------- */

  .activite_un {
    width: 86%;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .activite_deux {
    width: 86%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .activite_un img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    display: block;
  }
  .activite h2 {
    margin-left: 15px;
    margin-top: 16px;
  }
  .activite h1 {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
  }
  .petitacti {
    width: 100%;
    margin-bottom: 20px;
  }
  .petitacti img {
    width: 100%;
  }
  .moyenacti {
    width: 100%;
    height: 195px;
    margin-bottom: 20px;
  }
  .moyenacti img {
    width: 100%;
    height: 140px;
  }
  .activite {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  footer div {
    padding: 0;
    padding-top: 10px;
    display: block;
    width: 86%;
  }

  footer div ul li {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding: 0;
  }
  footer div ul li:first-child {
    padding-top: 10px;
  }
  footer {
    padding-bottom: 20px;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  /* -------------------------------------------------  CSS POUR TABLETTES ---------------------*/
  #menudesktop {
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  #menudesktop ul li a {
    padding-left: 15px;
    padding-right: 15px;
  }
  #recherche h1 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #recherche p {
    text-align: center;
  }
  #filtres {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  #ligneinfo {
    justify-content: center;
  }
  #titrepopulaire {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  form {
    margin: 0;
    justify-content: center;
  }
  #filtres h2 {
    width: 100%;
    text-align: center;
  }
  .populaire {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    padding: 4%;
  }
  .populaire h1 {
    margin-bottom: 20px;
  }
  .petit_articlepopulaire {
    width: 90%;
    margin-bottom: 20px;
  }
  .petit_articlepopulaire img {
    width: 100%;
    margin-bottom: 20px;
  }
  /* ------------------------------------------------- hebergement tablette -------------------------------------- */
  #lienhebergement {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .heberge {
    padding: auto;
    width: 100%;
    justify-content: space-around;
  }
  .heberge h1 {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .heberge h2:last-child {
    margin-top: 20px;
    text-align: center;
  }
  .petit_article {
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    border: white 5px solid;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  }
  .petit_article img {
    width: 300px;
    height: 110px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
  /* ------------------------------------------------- activite TABLETTES -------------------------------- */

  .activite {
    flex-direction: row;
  }
  .activite_un {
    width: 100%;
    height: 195px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .activite_deux {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-items: stretch;
  }
  .activite_deux > div {
    width: 48%;
    margin-bottom: 20px;
  }
  .activite_un img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    display: block;
  }
  .activite h2 {
    margin-left: 15px;
    margin-top: 16px;
  }
  .activite h1 {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  .petitacti {
    width: 20%;
  }
  .petitacti img {
    width: 100%;
  }
  .moyenacti {
    width: 45%;
    height: 195px;
  }
  .moyenacti img {
    width: 100%;
    height: 140px;
  }
  footer div {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  footer div ul li {
    width: 220px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  footer div ul li:first-child {
    padding-top: 10px;
  }
  footer {
    padding-bottom: 20px;
  }
  footer div ul {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
